README.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/target/classes/db/changelog/v1/001-init.sql
/target/classes/db/changelog/v1/002-add-fields-client.sql
/target/classes/db/changelog/db.changelog-master.yaml
/target/classes/org/lower/document/auth/JwtTokenProvider.class
/target/classes/org/lower/document/config/properties/AppProperties.class
/target/classes/org/lower/document/config/properties/TelegramBotProperties.class
/target/classes/org/lower/document/config/AsyncConfig.class
/target/classes/org/lower/document/config/Config.class
/target/classes/org/lower/document/controllers/AuthController.class
/target/classes/org/lower/document/controllers/DocumentController.class
/target/classes/org/lower/document/controllers/MainController.class
/target/classes/org/lower/document/dao/ClientDao.class
/target/classes/org/lower/document/dao/DocumentDao.class
/target/classes/org/lower/document/dao/OwnerDao.class
/target/classes/org/lower/document/dao/StaffDao.class
/target/classes/org/lower/document/dao/UserDao.class
/target/classes/org/lower/document/dto/enums/Role.class
/target/classes/org/lower/document/dto/request/AuthRequest.class
/target/classes/org/lower/document/dto/request/BatchGenerationRequest.class
/target/classes/org/lower/document/dto/request/ClientRequest.class
/target/classes/org/lower/document/dto/request/FspsNotificationRequest.class
/target/classes/org/lower/document/dto/request/OwnerRequest.class
/target/classes/org/lower/document/dto/request/PdfGenerationRequest.class
/target/classes/org/lower/document/dto/request/StaffRequest.class
/target/classes/org/lower/document/dto/responce/TgAuthResponse$TgAuthResponseBuilder.class
/target/classes/org/lower/document/dto/responce/TgAuthResponse.class
/target/classes/org/lower/document/dto/response/AuthResponse.class
/target/classes/org/lower/document/dto/response/OwnerResponse.class
/target/classes/org/lower/document/dto/response/StaffResponse.class
/target/classes/org/lower/document/dto/CourtDecision.class
/target/classes/org/lower/document/dto/CourtInfo.class
/target/classes/org/lower/document/dto/DebtorInfo.class
/target/classes/org/lower/document/dto/GeneratedFileDto.class
/target/classes/org/lower/document/dto/LawyerInfo.class
/target/classes/org/lower/document/dto/RecipientInfoDto.class
/target/classes/org/lower/document/dto/TelegramAuthData.class
/target/classes/org/lower/document/dto/Trustee.class
/target/classes/org/lower/document/dto/User.class
/target/classes/org/lower/document/dto/UserShort.class
/target/classes/org/lower/document/dto/WebAppChat.class
/target/classes/org/lower/document/dto/WebAppUser.class
/target/classes/org/lower/document/jooq/codegen/enums/RoleEnum.class
/target/classes/org/lower/document/jooq/codegen/routines/Armor1.class
/target/classes/org/lower/document/jooq/codegen/routines/Armor2.class
/target/classes/org/lower/document/jooq/codegen/routines/Crypt.class
/target/classes/org/lower/document/jooq/codegen/routines/Dearmor.class
/target/classes/org/lower/document/jooq/codegen/routines/Decrypt.class
/target/classes/org/lower/document/jooq/codegen/routines/DecryptIv.class
/target/classes/org/lower/document/jooq/codegen/routines/Digest1.class
/target/classes/org/lower/document/jooq/codegen/routines/Digest2.class
/target/classes/org/lower/document/jooq/codegen/routines/Encrypt.class
/target/classes/org/lower/document/jooq/codegen/routines/EncryptIv.class
/target/classes/org/lower/document/jooq/codegen/routines/FipsMode.class
/target/classes/org/lower/document/jooq/codegen/routines/GenRandomBytes.class
/target/classes/org/lower/document/jooq/codegen/routines/GenRandomUuid.class
/target/classes/org/lower/document/jooq/codegen/routines/GenRandomUuidV7.class
/target/classes/org/lower/document/jooq/codegen/routines/GenSalt1.class
/target/classes/org/lower/document/jooq/codegen/routines/GenSalt2.class
/target/classes/org/lower/document/jooq/codegen/routines/Hmac1.class
/target/classes/org/lower/document/jooq/codegen/routines/Hmac2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpArmorHeaders.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpKeyId.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecrypt1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecrypt2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecrypt3.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecryptBytea1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecryptBytea2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubDecryptBytea3.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubEncrypt1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubEncrypt2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubEncryptBytea1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpPubEncryptBytea2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymDecrypt1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymDecrypt2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymDecryptBytea1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymDecryptBytea2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymEncrypt1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymEncrypt2.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymEncryptBytea1.class
/target/classes/org/lower/document/jooq/codegen/routines/PgpSymEncryptBytea2.class
/target/classes/org/lower/document/jooq/codegen/tables/records/ClientsRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/DatabasechangeloglockRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/DatabasechangelogRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/DocumentsRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/OwnersRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/PgpArmorHeadersRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/RecipientOrgsRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/StaffsRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/records/UsersRecord.class
/target/classes/org/lower/document/jooq/codegen/tables/Clients$ClientsPath.class
/target/classes/org/lower/document/jooq/codegen/tables/Clients.class
/target/classes/org/lower/document/jooq/codegen/tables/Databasechangelog.class
/target/classes/org/lower/document/jooq/codegen/tables/Databasechangeloglock.class
/target/classes/org/lower/document/jooq/codegen/tables/Documents$DocumentsPath.class
/target/classes/org/lower/document/jooq/codegen/tables/Documents.class
/target/classes/org/lower/document/jooq/codegen/tables/Owners$OwnersPath.class
/target/classes/org/lower/document/jooq/codegen/tables/Owners.class
/target/classes/org/lower/document/jooq/codegen/tables/PgpArmorHeaders.class
/target/classes/org/lower/document/jooq/codegen/tables/RecipientOrgs.class
/target/classes/org/lower/document/jooq/codegen/tables/Staffs$StaffsPath.class
/target/classes/org/lower/document/jooq/codegen/tables/Staffs.class
/target/classes/org/lower/document/jooq/codegen/tables/Users$UsersPath.class
/target/classes/org/lower/document/jooq/codegen/tables/Users.class
/target/classes/org/lower/document/jooq/codegen/DefaultCatalog.class
/target/classes/org/lower/document/jooq/codegen/Keys.class
/target/classes/org/lower/document/jooq/codegen/Public.class
/target/classes/org/lower/document/jooq/codegen/Routines.class
/target/classes/org/lower/document/jooq/codegen/Tables.class
/target/classes/org/lower/document/security/CustomUserDetailsService.class
/target/classes/org/lower/document/security/JwtAuthenticationFilter.class
/target/classes/org/lower/document/security/PasswordService.class
/target/classes/org/lower/document/security/SecurityConfig.class
/target/classes/org/lower/document/services/auth/AuthService$1.class
/target/classes/org/lower/document/services/auth/AuthService.class
/target/classes/org/lower/document/services/auth/TgAuthService.class
/target/classes/org/lower/document/services/tg/parser/TelegramWebAppParser.class
/target/classes/org/lower/document/services/tg/UserService.class
/target/classes/org/lower/document/services/FspsNotificationService$GeneratedDocument.class
/target/classes/org/lower/document/services/FspsNotificationService.class
/target/classes/org/lower/document/services/PdfGenerationService.class
/target/classes/org/lower/document/services/RecipientLookupService.class
/target/classes/org/lower/document/util/UtilsAndConstants.class
/target/classes/org/lower/document/LowerApplication.class
/target/classes/templates/bti-request.html
/target/classes/templates/court-request.html
/target/classes/templates/fsps-notification.html
/target/classes/templates/gibdd-request.html
/target/classes/templates/mchs-request.html
/target/classes/templates/mifns-request.html
/target/classes/templates/osfr-request.html
/target/classes/templates/rosaviatsia-request.html
/target/classes/templates/rosgruard-request.html
/target/classes/templates/rosimushchestvo-request.html
/target/classes/templates/rospatent-request.html
/target/classes/templates/rostekhnadzor-request.html
/target/classes/application.yml
